---
layout: blog-item
---

<main class="p-3 push ">
  <p class="ib push-1-2 py-3">

    <a  href="/blog/" class="btn btn-success back">← Back to the blog</a>
  </p>
   <h1 class="text-center ">{{page.title}}</h1>
   <p class="text-secondary btn-sm bg-warning text-center">
    <i> Written by <strong class="text-dark fw-light"> {{page.author}}</strong> </i>
    <i class="text-dark"> On: <strong class="text-dark fw-light"> {{page.written-on}}</strong> </i>
  </p>
  <h1 class="exa"></h1>
  {{content}}
  <p class="ib push-1-2 py-3">

    <a href="/blog/" class="btn btn-success back" >← Back to the blog</a>
  </p>
  
</main>
